.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
.languages-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
.repositories-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
}
.popular-heading {
  font-size: 30px;
  font-family: 'Lobster';
  font-weight: bold;
  color: #0f172a;
  text-align: center;
}

.failure-view-container {
  display: flex;
  flex-direction: column;
}
.failure-image {
  height: 300px;
  width: 300px;
}
.failure-text {
  font-size: 30px;
  font-family: 'Roboto';

  color: #1e293b;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .app-container {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .failure-text {
    font-size: 20px;
  }
  .failure-image {
    height: 150px;
    width: 150px;
  }
}
